<div class="inputContainer">
    <h1 class="font-sans text-3xl font-bold my-3">Add New Task</h1>
    <input [(ngModel)]="task.name" placeholder="Task Name" type="text" />
    <input [(ngModel)]="task.date" placeholder="Task Due Date" type="date" />
    <select [(ngModel)]="task.priority">
        <option>Urgent</option>
        <option>Normal</option>
    </select>
    <div class="d-grid gap-2 col-2 mx-auto">
        <button (click)="addTask()" class="btn btn-primary" type="button">Add Task</button>
    </div>
</div>
<todo-list [task]="allTasks" (taskNeedsToGetDeleted)="onDeletion($event)"
    (taskNeedsToGetEdited)="onEdit($event)"></todo-list>
<item-detail [task]="selectedTask" (onEditTaskButtonClicked)="EditOperation($event)"></item-detail>