<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="staticBackdropLabel">Edit Task</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="editInputFields">
            <input value="{{task.name}}" type="text" (change)="changedName($event)" />
            <input type="date" value="{{task.date}}" (change)="changedDate($event)" />
            <select value="{{task.priority}}" (change)="changedPriority($event)">
                <option>Urgent</option>
                <option>Normal</option>
            </select>
            <button type="button" class="btn btn-warning" (click)="editTask()">
                Modify Task
            </button>
        </div>
    </div>
</div>